.heading{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px grey;
}
.note{
    font-size: 20px;
    color: black;
}
.copy_right_footer{
   position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    color: white;
    line-height: 5;
    text-align: center;
}
canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}